.mainBlock {
    display: block;
    text-align: center;
    height: 655px;
    width: 50%;
    margin: 5% 5% 3.25% 25%;
    background-color: rgb(23, 75, 62);
    border-radius: 2%;
    box-shadow: 1px 12px 100px 70px #c4f000;
}
.pIcon {
    height: 15%;
    width: 20%;
}
.pokemonsInfoValues {
    margin: 0px;
    color: rgb(7, 138, 35);
}
.pokemonsStats1 {
    color: rgb(133, 133, 133);
    font-size: 30px;
}
.pokemonName {
    color: tomato;
    font-size: 55px;
}
.pokemonsStats1.span {
    color: slateblue;
}
.pokemonsStats2 {
    color:rgb(255, 220, 0);
    margin-top: 1px;
}
.pokemonsStats3 {
    color:rgba(255, 160, 0);
    margin-top: 1px;
}
.pokemonsStats4 {
    color:rgb(255, 120, 0);
    margin-top: 1px;
}
.pTypes {
    display: inline-block;
    background-color: rgb(3, 103, 121);
    color: rgb(11, 206, 11);
    margin: 1px 15px 1px 15px;
    padding-top: 10px;
    font-size: 32px;
    height: 60px;
    width: 20%;
    border-radius: 3%;

}
.wordStats{
    font-size: 30px;
    color: rgb(148, 88, 88);
    padding-right: 27%;
}
.mainStats {
    color: rgb(117, 180, 53);
    font-size: 20px;
}