.mainBlock {
    display: block;
    text-align: center;
    height: 657.5px;
    width: 50%;
    margin: 5% 5% 3.25% 25%;
    background-image: url('https://i.pinimg.com/originals/88/1e/97/881e975af06ff67857544c7b64e65cbc.gif');
    border-radius: 2%;
    box-shadow: 1px 12px 100px 70px #c4f000;
    opacity: 0.9;
}
.pIcon {
    height: 15%;
    width: 30%;
}
.pokemonsInfoValues {
    margin: 0px;
    color: rgb(7, 138, 35);
}
.pokemonsStats1 {
    color: rgb(133, 133, 133);
    font-size: 30px;
}
.pokemonName {
    color: rgb(250, 246, 0);
    font-size: 55px;
}
.pokemonsStats1.span {
    color: slateblue;
}
.pokemonsStats2 {
    color:rgb(255, 255, 255);
    margin-top: 1px;
}
.pokemonsStats3 {
    color:rgb(255, 220, 0);
    margin-top: 1px;
}
.pokemonsStats4 {
    color:rgba(255, 160, 0);
    margin-top: 1px;
}
.pTypes {
    display: inline-block;
    background-color: rgb(165, 207, 49);
    color: rgb(38, 3, 233);
    margin: 1px 15px 1px 15px;
    padding-top: 0px;
    font-size: 25px;
    height: 40px;
    width: 20%;
    border-radius: 20%;

}
.wordStats{
    font-size: 30px;
    color: rgb(148, 88, 88);
    padding-right: 27%;
}
.mainStats {
    color: rgb(117, 180, 53);
    font-size: 20px;
}