.mainBlock {
    background-image: url(../assets/headerBackground.bmp);
    background-size: 25em;
    border-bottom: rgb(126, 151, 175) 0.1em solid;
    text-align: center;
}
.headerName {
    color:rgb(255, 177, 0);
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    padding: 0.15em;
}
.headerName:hover {
    color:rgb(0, 255, 221);
}
.headerName:active {
    color:rgb(46, 196, 26);
}
a {
    text-decoration: none;
}