.mainBlock {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0EJgZG_IZCozOM71_RzVYYfBq8xhomAOuyw&usqp=CAU') ;
    border-bottom: rgb(221, 177, 0) 3px solid;
    text-align: center;
}
.headerName {
    color:rgb(255, 177, 0);
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding: 5px;
}
.headerName:hover {
    color:rgb(204, 27, 27);
}
a {
    text-decoration: none;
}