.mainBlock {
    height: 100%;
}
.changePageBlock {
    text-align: center;
    margin: 10px 10.9% 0px 10px;
}
.changePageSizeBlock {
    text-align: center;
    margin: 10px 0px 0px 0px;
}
.setTypeBlock {
    text-align: center;
    margin: 10px 0px 10px 0px
}
.searchTypeText {
    font-size: 20px;
    color:rgb(92, 99, 0);
    opacity: 1;
}
.selectType {
    background-color: rgb(62, 80, 57);
    color: rgb(204, 204, 204);
    height: 40px;
    width: 150px;
    font-size: 19px;
    margin: 15px 5px 5px 5px;
    border: 1px solid white ;
    border-radius: 10%;
    opacity: 0.9;
}
    .selectType:hover {
        background-color: rgb(62, 80, 57);
        color: rgb(255, 255, 254);
        border: 1px solid white ;
        opacity: 1;
    }
.optionTypeAll {
    color:rgb(255, 255, 254);
}
.optionTypeFighting {
    color:rgb(253, 46, 46);
}
.optionTypeIce {
    color:rgb(162, 230, 226);
}
.optionTypeDark {
    color:rgb(3, 3, 3);
}
.optionTypeGround {
    color:rgb(59, 55, 11);
}
.optionTypeGhost {
    color:rgb(83, 0, 131);
}
.optionTypeDragon {
    color:rgb(40, 0, 185);
}
.optionTypeRock {
    color:rgb(110, 110, 110);
}
.optionTypeSteel {
    color:rgb(204, 204, 165);
}

.inotherPageText {
    font-size: 20px;
    color:rgb(92, 99, 10);
    opacity: 0.9;
}
.pokAtMomentText {
    font-size: 20px;
    color:rgb(92, 99, 0);
    opacity: 0.9;
}
.pokAtMomentNumber {
    font-size: 30px;
    color: rgb(65, 103, 207);
    font-weight: 600;
    margin-left: 5px;
}
.changePageButtons {
    margin: 10px 20px 0px 20px;
    width: 180px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(168, 168, 168);
    color: honeydew;
    border-radius: 12%;
    opacity: 0.8;
}
    .changePageButtons:hover {
        background-color: rgb(12, 104, 0);
        color: rgb(255, 238, 0);
        opacity: 1;
        border: 1px solid rgb(255, 255, 255);
    }
    .changePageButtons:active {
        background-color: rgb(110, 166, 238);
        color: rgb(119, 45, 45);
        opacity: 0.5;
    }
.changePageSizeBlock {
    text-align: center;
}
.changeSizeButtons {
    padding: 1px 2px 1px 1px;
    margin: 20px 10px 5px 10px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: dimgrey;
    color: rgb(187, 187, 187);
    border-radius: 10%;
    opacity: 0.8;
}
    .changeSizeButtons:hover {
        background-color: rgb(11, 88, 1);
        color: rgb(255, 251, 0);
        opacity: 1;
        border: 1px solid rgb(255, 255, 255);
    }
    .changeSizeButtons:active {
        background-color: rgb(110, 166, 238);
        color: rgb(119, 45, 45);
        opacity: 0.5;
    }

.loadedPokemonsBlock {
    display: inline-block;
    text-align: center;
    background-image: url('https://img.freepik.com/free-photo/room-with-concrete-floor-and-smoke-background_9083-2991.jpg?size=626&ext=jpg');
    margin: 2%;
    width: 16%;
    height: 40vh;
    border-radius: 15%;
    box-shadow: 1px 1px 10px 10px white;
    opacity: 0.85;
}
    .loadedPokemonsBlock:hover {
        background-image: url('https://newcastlebeach.org/images/background-image-css-7.jpg');
        border-radius: 17%;
        box-shadow: 1px 1px 50px 20px rgb(83, 223, 204);
        opacity: 1;

    }
.pIcon {
    height: 55%;
    width: 70%;
}
.pokemonsInfoValues {
    margin: 1px;
}
.pokemonsStats1 {
    color: rgb(223, 173, 35);
}
.pokemonsStats2 {
    color:rgb(185, 110, 20);
    margin-top: 1px;
}
.pokemonsStats3 {
    color:rgb(155, 100, 20);
    margin-top: 1px;
}
.pokemonsStats4 {
    color:rgb(122, 100, 20);
    margin-top: 1px;
}
.pTypes {
    display: inline-block;
    background-color: rgb(202, 204, 93);
    color: rgb(0, 81, 255);
    margin: 5px 8px 11px 15px;
    font-size: 20px;
    height: 9%;
    width: 30%;
    border-radius: 25%;
}